.container {
    max-width: 1024px;
    margin: 0px auto;
    padding: 24px 72px;
}

.bordered {
    border: 1px solid #464648;
}

/* Banner Starts */
.form-header {
    display: flex;
    align-items: center;
}

.header__banner {
    max-width: 240px;
    margin: 0 16px 0 0;
}

.header__banner img {
    max-width: 100%;
    max-height: calc(0.321799 * 240px);
    object-fit: contain;
}

.title h1, .title h2 {
    margin: 0;
    line-height: 1.5;
    text-transform: uppercase;
}

.title h1 {
    font-size: 24px;
}

.title h2 {
    text-transform: capitalize;
}

.title h1 span {
    font-size: 32px;
}

/* Banner Ends */

/* Body Starts */
.d-flex {
    display: flex;
    padding: 0px 0px 8px 0px;
}

.d-contents {
    display: contents;
}

.mx-86 {
    max-width: 86%;
}

.mx-90 {
    max-width: 90%;
}

.col-6 {
    width: 50%;
}

.mx-92 {
    max-width: 92%;
}

.form-section__title {
    padding: 4px;
    background-color: #ffff00;
    text-transform: uppercase;
    margin: 16px 0px 0px 0px;
}

.form-section__title span {
    font-size: 24px;
}

.form-section p {
    margin: 0px;
}

.formfield {
    border: none;
    padding: 0;
    margin: 0;
}

input[type="text"] {
    border: none;
    border-bottom: 1px solid #464648;
    width: 100%;
}

.formfield__sections {
    margin: 0px 0px 16px 0px;
}

.no-margin {
    margin: 0px;
}

.title__normal-text {
    text-transform: none;
    font-weight: 100;
}

.mx-71 {
    max-width: 71%;
}

.mx-76 {
    max-width: 73.7%;
}

.comments__bold {
    font-weight: 800;
}

.comments {
    margin: 8px 0px;
}

textarea {
    border: none;
    border-bottom: 1px solid #464648;
    width: 100%;
}

.form-section__response {
    margin: 16px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
}

.response {
    border: 8px solid #464648;
    border-radius: 8px;
    background-color: #464648;
    color: #ffff00;
}

footer {
    margin: 24px 0px 0px 0px;
    font-style: italic;
    text-align: center;
}
/* Body Ends */